@import '../variables.css';

.root {
  display: flex;
  flex: initial;
  width: 350px;
  height: auto;
  background-color: #F5F7FA;
}

.library {
  display: flex;
  justify-content: space-between;
  flex: initial;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
