@import '../../variables.css';

.button {
  background-color: #5596e6;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
  height: 40px;
  line-height: 40px;
}

.button-disabled {
  background-color: #8c9ba5;
  color: #ffffff;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  height: 40px;
  line-height: 40px;
}